node_modules
dist
build
.env
.env.*
!.env.example

./apps/frontend/.env
./apps/frontend/.env.*
./apps/frontend/node_modules
./apps/frontend/dist
./apps/frontend/build
./apps/backend/.env


coverage
.nyc_output

.next
.expo
.expo-shared

.DS_Store

*.log

.prisma

.idea
.vscode
