NODE_ENV=

PORT=

DATABASE_URL=

JWT_ACCESS_SECRET=

JWT_REFRESH_SECRET=

FIREBASE_PROJECT_ID=

# AWS S3 Configuration
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET_NAME=
CDN_BASE_URL=